
:root {
  --main-color: #0A1939;
  --main-pallete: #009faa;
}


$gutter:20px;

@mixin headline-p {
  font-size: 15px;
  font-family: "Roboto", serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
}

