@import "_var.scss";
@import "_components.scss";





 .grid-container {
 	display: grid;
 	max-width:1200px;
 	margin:0 auto;
 } 



header {
	width: 100%;
	padding: 20px 0 0 0;
	background-color: var(--main-color);
	& .nav-bar {
		max-width: 1366px;
		margin: 0 auto;
		padding: 0 20px;
		& .header__top-line {
			display: grid;
			grid-template-columns:  1fr minmax(1px,800px) 1fr;
			align-items: center;
			margin-bottom: 22px;
			& .logo {
				& .item--logo {
					font-family: Montserrat, serif;
					font-style: normal;
					font-weight: 600;
					font-size: 22px;
					line-height: 27px;
					color: #FFFFFF;
				}

			}
			& .media {
				display: grid;
				justify-content: center;
				align-content: center;
				gap: 10px;
				grid-auto-flow: column;
				& a {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background-color: var(--main-pallete);
					display: grid;
					place-items: center;
					& i {
						color: white;
					}
				}
			}
			& .user-action {
				display: grid;
				justify-items: end;
				& .action__inner {
					display: grid;
					justify-content: center;
					align-content: center;
					gap: 20px;
					grid-auto-flow: column;
					align-items: center;
					& .link-to {
						font-family: Montserrat, serif;
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 17px;
						color: #FFFFFF;
						& i {
							font-size: 25px;
							color: white;
							padding-right: 10px;
						}
						& span {
							vertical-align: super;
						}
					}
					& .sep {
						border: 1px solid #344554;
						transform: rotate(90deg);
						width: 30px;
						height: 0px;
					}
					& .cart {
						display: grid;
						justify-content: center;
						align-content: center;
						gap: 4px;
						grid-auto-flow: column;
						& i {
							font-size: 25px;
							color: white;
							padding-right: 10px;
							display: grid;
							align-items: center;
						}
						& span {
							font-family: Montserrat, serif;
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 17px;
							color: #FFFFFF;
						}
					}
				}
			}
		}
		& .header__bottom-line {
			& .menu {
				display: grid;
				grid-template-columns: 1fr minmax(1px,1100px) 1fr;
				align-items: center;
				& .menu-desktop {
					width: 345px;
					height: 71px;
					background-color: var(--main-pallete);
					position: relative;
					& a {
						width: 100%;
						height: 100%;
						display: grid;
						align-items: center;
						grid-template-columns: 1fr 3fr;
						& p {
							font-family: Montserrat, serif;
							font-style: normal;
							font-weight: 600;
							font-size: 18px;
							line-height: 22px;
							color: #FFFFFF;
						}
						& i {
							display: grid;
							justify-items: center;
							font-size: 25px;
							color: white;
						}
					}
					&:hover {
						.side {
							display: block;
						}
					}
					& .side {
						width: 100%;
						position: absolute;
						z-index: 3;
						display: none;
						& .menu-catalog {
							a {
								background-color: var(--main-pallete);
								padding: 20px 0 20px 32px;
								border-bottom: 1px solid rgba(255, 255, 255, 0.3);
								transition: all 0.5s;
								&:hover {
									background-color: #5ad2db;
								}
							}
						}
						& ul {
							margin: 0;
							padding: 0;
							list-style-type: none;
							& li {
								height: 100%;
							}
						}
						& .menu__list {
							position: relative;
							& a {
								display: block;
								font-family: Montserrat, serif;
								font-style: normal;
								font-weight: 600;
								font-size: 15px;
								line-height: 18px;
								color: #FFFFFF;
							}
							&:hover {
								.menu-drop {
									opacity: 1;
									display: block;
									height: 100%;
								}
							}
						}
						& .menu-drop {
							position: absolute;
							width: 100%;
							height: 100%;
							left: 100%;
							top: 0;
							opacity: 0;
							display: none;
						}
					}
				}
				& .navigation {
					display: grid;
					justify-items: center;
					& ul {
						padding:0;
						& li {
							display: inline-block;
							padding-right: 30px;
							& a {
								font-family: Montserrat, serif;
								font-style: normal;
								font-weight: 600;
								font-size: 18px;
								line-height: 22px;
								text-align: right;
								color: #FFFFFF;
							}
						}
					}
				}
				& .search {
					width:275px;
					height: 71px;
					display: grid;
					grid-template-columns: 1fr 71px;
					& input {
						width: 100%;
						height: 100%;
						outline: none;
						border: none;
						&[type="text"] {
							font-family: Montserrat, serif;
							font-style: normal;
							font-weight: 500;
							font-size: 15px;
							line-height: 18px;
							color: #343434;
							padding-left: 30px;
						}

					}
					&__block {
						width: 71px;
						height: 71px;
						background-color: var(--main-pallete);

						& a {
							width: 100%;
							height: 100%;
							display: grid;
							place-items: center;
						}
						& i {
							font-size: 25px;
							color: white;
						}
					}
				}

			}
		}

	}
}

.active-href{
	position: relative;
	&::before{
		position: absolute;
		top: 44px;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: var(--main-pallete);
		content: "";
	}

}


@media only screen and (max-width : 550px) {
   header {
	   & .nav-bar {
		   & .menu {
			   & .navigation {
				   display: none;
			   }
			   & .contact{
				   display: none;
			   }
			   & .burger-menu {
				   display: grid;
				   justify-self: end;
				   width: 20px;
				   height: 20px;
				   position: relative;
				   & span {
					   cursor: pointer;
					   border-radius: 10px;
					   height: 4px;
					   width: 30px;
					   background: black;
					   position: absolute;
					   display: block;
					   content: '';
					   right: 0;
					   &::before {
						   top: 16px;
						   cursor: pointer;
						   border-radius: 20px;
						   height: 4px;
						   width: 30px;
						   background: black;
						   position: absolute;
						   display: block;
						   content: '';
						   right: 0;
					   }
					   &::after {
						   cursor: pointer;
						   border-radius: 20px;
						   height: 4px;
						   width: 30px;
						   background: black;
						   position: absolute;
						   display: block;
						   content: '';
						   right: 0;
						   top: 8px;
					   }
				   }
			   }
		   }
	   }
   }
}
