@import "_var.scss";
@import "_components.scss";





 .grid-container {
 	display: grid;
 	max-width:1200px;
 	margin:0 auto;
 } 



header {
	width: 100%;
	padding: 20px 0 0 0;
	background-color: var(--main-color);
	& .mobile-navigation {
		display: none;
	}
	& .nav-bar {
		max-width: 1366px;
		margin: 0 auto;
		padding: 0 20px;
		& .header__mobile-bar{
			display: none;
		}

		& .header__top-line {
			display: grid;
			grid-template-columns:  1fr minmax(1px,800px) 1fr;
			align-items: center;
			margin-bottom: 22px;
			& .logo {
				& .item--logo {
					font-family: Montserrat, serif;
					font-style: normal;
					font-weight: 600;
					font-size: 22px;
					line-height: 27px;
					color: #FFFFFF;
				}

			}
			& .media {
				display: grid;
				justify-content: center;
				align-content: center;
				gap: 10px;
				grid-auto-flow: column;
				& a {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background-color: var(--main-pallete);
					display: grid;
					place-items: center;
					& i {
						color: white;
					}
				}
			}
			& .user-action {
				display: grid;
				justify-items: end;
				& .action__inner {
					display: grid;
					justify-content: center;
					align-content: center;
					gap: 20px;
					grid-auto-flow: column;
					align-items: center;
					& .link-to {
						font-family: Montserrat, serif;
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 17px;
						color: #FFFFFF;
						& i {
							font-size: 25px;
							color: white;
							padding-right: 10px;
						}
						& span {
							vertical-align: super;
						}
					}
					& .sep {
						border: 1px solid #344554;
						transform: rotate(90deg);
						width: 30px;
						height: 0px;
					}
					& .cart {
						display: grid;
						justify-content: center;
						align-content: center;
						gap: 4px;
						grid-auto-flow: column;
						& i {
							font-size: 25px;
							color: white;
							padding-right: 10px;
							display: grid;
							align-items: center;
						}
						& span {
							font-family: Montserrat, serif;
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 17px;
							color: #FFFFFF;
						}
					}
				}
			}
		}
		& .header__bottom-line {
			& .menu {
				display: grid;
				grid-template-columns: 1fr minmax(1px,1100px) 1fr;
				align-items: center;
				& .menu-desktop {
					width: 345px;
					height: 71px;
					background-color: var(--main-pallete);
					position: relative;
					& a {
						width: 100%;
						height: 100%;
						display: grid;
						align-items: center;
						grid-template-columns: 1fr 3fr;
						& p {
							font-family: Montserrat, serif;
							font-style: normal;
							font-weight: 600;
							font-size: 18px;
							line-height: 22px;
							color: #FFFFFF;
						}
						& i {
							display: grid;
							justify-items: center;
							font-size: 25px;
							color: white;
						}
					}
					&:hover {
						.side {
							display: block;
						}
					}
					& .side {
						width: 100%;
						position: absolute;
						z-index: 3;
						display: none;
						& .menu-catalog {
							a {
								background-color: var(--main-pallete);
								padding: 20px 0 20px 32px;
								border-bottom: 1px solid rgba(255, 255, 255, 0.3);
								transition: all 0.5s;
								&:hover {
									background-color: #5ad2db;
								}
							}
						}
						& ul {
							margin: 0;
							padding: 0;
							list-style-type: none;
							& li {
								height: 100%;
							}
						}
						& .menu__list {
							position: relative;
							& a {
								display: block;
								font-family: Montserrat, serif;
								font-style: normal;
								font-weight: 600;
								font-size: 15px;
								line-height: 18px;
								color: #FFFFFF;
							}
							&:hover {
								.menu-drop {
									opacity: 1;
									display: block;
									height: 100%;
								}
							}
						}
						& .menu-drop {
							position: absolute;
							width: 100%;
							height: 100%;
							left: 100%;
							top: 0;
							opacity: 0;
							display: none;
						}
					}
				}
				& .navigation {
					display: grid;
					justify-items: center;
					& ul {
						padding:0;
						& li {
							display: inline-block;
							padding-right: 30px;
							& a {
								font-family: Montserrat, serif;
								font-style: normal;
								font-weight: 600;
								font-size: 18px;
								line-height: 22px;
								text-align: right;
								color: #FFFFFF;
							}
						}
					}
				}
				& .search {
					width:275px;
					height: 71px;
					display: grid;
					grid-template-columns: 1fr 71px;
					& input {
						width: 100%;
						height: 100%;
						outline: none;
						border: none;
						&[type="text"] {
							font-family: Montserrat, serif;
							font-style: normal;
							font-weight: 500;
							font-size: 15px;
							line-height: 18px;
							color: #343434;
							padding-left: 30px;
						}

					}
					&__block {
						width: 71px;
						height: 71px;
						background-color: var(--main-pallete);

						& a {
							width: 100%;
							height: 100%;
							display: grid;
							place-items: center;
						}
						& i {
							font-size: 25px;
							color: white;
						}
					}
				}

			}
		}

	}
}

.active-href{
	position: relative;
	&::before{
		position: absolute;
		top: 44px;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: var(--main-pallete);
		content: "";
	}

}

@media only screen and (max-width : 1465px) {
	.main {
		width: 100%;
		position: relative;
		height: 370px;
		& .wrapper-slide {
			height: 370px;
		}
	}
}
//mobile version
@media only screen and (max-width : 1365px) {
   header {
	   padding: 20px 0 ;
	   & .nav-bar {
		   & .header__top-line {
			   display: none;
		   }
		   & .header__bottom-line {
			   display: none;
		   }
		   & .header__mobile-bar {
			   display: grid;
			   grid-template-columns: 1fr minmax(50px,1100px) 1fr;
			   padding: 0 15px;
			   align-items: center;
			   & .logo {
				   display: grid;
				   justify-items: center;
				   & .item--logo {
					   font-family: Montserrat, serif;
					   font-style: normal;
					   font-weight: 600;
					   font-size: 22px;
					   line-height: 27px;
					   color: #FFFFFF;
				   }
			   }
			   & .action__inner {
				   display: grid;
				   justify-items: end;
				   & a {
					   & i {
						   font-size: 25px;
						   color: white;
					   }
				   }
			   }
			   & .burger-menu {
				   display: grid;
				   justify-self: start;
				   width: 30px;
				   height: 20px;
				   position: relative;
				   & span {
					   cursor: pointer;
					   border-radius: 10px;
					   height: 4px;
					   width: 30px;
					   background: white;
					   position: absolute;
					   display: block;
					   content: '';
					   right: 0;
					   &::before {
						   top: 16px;
						   cursor: pointer;
						   border-radius: 20px;
						   height: 4px;
						   width: 30px;
						   background: white;
						   position: absolute;
						   display: block;
						   content: '';
						   right: 0;
					   }
					   &::after {
						   cursor: pointer;
						   border-radius: 20px;
						   height: 4px;
						   width: 30px;
						   background: white;
						   position: absolute;
						   display: block;
						   content: '';
						   right: 0;
						   top: 8px;
					   }
				   }
			   }
		   }
	   }
	   & .mobile-navigation {
		   display: block;
		   position: absolute;
		   transform: translateX(100%);
		   width: 100%;
		   top: 0;
		   z-index: 5;
		   & .top__line {
			   background-color: #fff;
			   padding: 20px 15px;
			   display: grid;
			   grid-template-columns: 1fr 1fr;
			   & .office {
				   display: grid;
				   justify-items: end;
				   & a {
					   display: grid;
					   align-items: center;
					   grid-template-columns: 1fr 1fr;
					   font-family: Montserrat, serif;
					   font-style: normal;
					   font-weight: 500;
					   font-size: 14px;
					   line-height: 17px;
					   color: #344554;
					   & i {
						   font-size: 25px;
						   padding-left: 15px;
					   }
				   }
			   }
			   & .close {
				   & a {
					   display: grid;
					   align-items: center;
				   }
				   & i {
					   font-size: 25px;
				   }
			   }
		   }
		   & .menu-mobile {
			   padding: 20px 15px;
			   background-color: var(--main-pallete);
			   & a {
				   width: 100%;
				   height: 100%;
				   display: grid;
				   align-items: center;
				   grid-template-columns: 40px 3fr;
				   grid-gap: 10px;
				   & i {
					   display: grid;
					   justify-self: center;
					   font-size: 25px;
					   color: white;
				   }
				   & p {
					   font-family: Montserrat, serif;
					   font-style: normal;
					   font-weight: 600;
					   font-size: 18px;
					   line-height: 22px;
					   color: #FFFFFF;
				   }
			   }
		   }
		   & .menu-bottom {
			   background-color: #fff;
			   width: 100%;
			   display: grid;
			   grid-template-columns: 1fr 1fr;
			   padding: 20px 15px;
			   & .navigation {
				   ul {
					   padding: 0;
					   margin: 0;
					   list-style-type: none;
					   & li {
						   padding-bottom: 10px;
						   & a {
							   font-family: Montserrat, serif;
							   font-style: normal;
							   font-weight: 600;
							   font-size: 18px;
							   line-height: 22px;
							   /* identical to box height */

							   text-align: right;

							   color: #344554;
						   }
					   }
				   }
			   }
			   & .media {
				   display: grid;
				   grid-template-columns: 1fr;
				   justify-items: end;
				   & a {
					   width: 30px;
					   height: 30px;
					   border-radius: 50%;
					   background: #344554;
					   display: grid;
					   place-items: center;
					   & i {
						   color: white;
					   }
				   }
			   }

		   }

		   & .search {
			   width: 100%;
			   height: 71px;
			   display: grid;
			   grid-template-columns: 1fr 71px;
			   //padding: 20px 15px;
			   & input {
				   width: 100%;
				   height: 100%;
				   outline: none;
				   border: none;
				   background: #F8F8F8;
			   }
			   & input[type="text"] {
				   font-family: Montserrat, serif;
				   font-style: normal;
				   font-weight: 500;
				   font-size: 15px;
				   line-height: 18px;
				   color: #343434;
				   padding-left: 30px;
			   }
			   & .search__block {
				   width: 71px;
				   height: 71px;
				   background-color: var(--main-pallete);
				   & a {
					   width: 100%;
					   height: 100%;
					   display: grid;
					   place-items: center;
					   & i {
						   font-size: 25px;
						   color: white;
					   }
				   }
			   }

		   }
	   }
   }
}



@media only screen and (max-width : 360px) {
	header .nav-bar .header__mobile-bar .logo .item--logo{
		font-size: 16px;
	}
}