:root {
  --main-color: #0A1939;
  --main-pallete: #009faa;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--main-color);
}
.footer__inner {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__inner .footer__top--line .footer__navigation--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.footer__inner .footer__top--line .footer__navigation--list .footer__navigation--item {
  vertical-align: super;
}
.footer__inner .footer__top--line ul {
  margin: 0;
  padding: 0;
}
.footer__inner .footer__top--line ul .centered li {
  padding-bottom: 10px;
}
.footer__inner .footer__top--line ul .centered li a {
  color: white;
}
.footer__inner .footer__top--line ul li {
  display: inline-block;
  text-align: center;
}
.footer__inner .footer__top--line ul li ul .media_block {
  text-align: end;
  font-size: 16px;
}
.footer__inner .footer__top--line ul li ul .footer__article {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #FFFFFF;
}
.footer__inner .footer__top--line ul li ul .footer__article {
  text-align: start;
}
.footer__inner .footer__top--line ul li ul li {
  display: block;
  text-align: end;
  padding-right: 0;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer__inner .footer__top--line ul li ul li .footer__logo a {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: grid;
  text-align: start;
}
.footer__inner .footer__top--line ul li ul li .footer__media {
  display: grid;
  justify-content: end;
  align-content: center;
  gap: 10px;
  grid-auto-flow: column;
}
.footer__inner .footer__top--line ul li ul li .footer__media a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
}
